################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ThesisPulseAI
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/.vs/ThesisPulseAI/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/.vs/ThesisPulseAI/FileContentIndex
/.vs/ThesisPulseAI/FileContentIndex/01972770-7783-47a9-866d-309b28f1ce9e.vsidx
/.vs/ThesisPulseAI/FileContentIndex/fcc55a93-a661-4d96-887e-c0b41c85879d.vsidx
/tests/contracts/dotnet/bin/Debug/net8.0
/tests/contracts/dotnet/obj/Debug/net8.0
/tests/contracts/dotnet/obj/project.assets.json
/tests/contracts/dotnet/obj/project.nuget.cache
/tests/contracts/dotnet/obj/ThesisPulse.ContractTests.csproj.nuget.dgspec.json
/tests/contracts/dotnet/obj/ThesisPulse.ContractTests.csproj.nuget.g.props
/tests/contracts/dotnet/obj/ThesisPulse.ContractTests.csproj.nuget.g.targets
/src/ThesisPulse.DatabaseMigrator/obj
/tests/contracts/dotnet/bin/Release/net8.0
/tests/contracts/dotnet/obj/Release/net8.0
/tests/database/dotnet/obj
/src/ThesisPulse.DatabaseMigrator/bin/Release/net8.0
/tests/database/dotnet/bin/Release/net8.0
/src/ThesisPulse.DatabaseMigrator/bin/Debug/net8.0
/tests/database/dotnet/bin/Debug/net8.0
*.sqlite-journal
